body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #efefef;
}
* {
  box-sizing: border-box;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* board*/
.board {
  display: grid;
  grid-template-columns: repeat(3, 6rem);
  place-items: center;
  justify-content: center;
}
/* box*/
.box {
  background-color: #ffffff;
  border: none;
  border-radius: 10%;
  box-shadow: 0px 0px 8px #888888;
  width: 5rem;
  height: 5rem;
  text-align: center;
  font-size: 5em;
  font-family: "Fredoka", sans-serif;
  font-weight: bold;
  line-height: 5rem;
  margin: 0.5rem;
}

.x {
  color: rgb(255, 70, 37);
}

.o {
  color: rgb(44, 135, 255);
}

.box:hover {
  box-shadow: 0px 0px 15px #888888;
}

/* reset button*/

.reset-btn {
  border: none;
  border-radius: 0.5rem;
  background-color: rgb(0, 110, 255);
  color: white;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  margin: 2rem auto;
  display: block;
}

.reset-btn:hover {
  background-color: rgb(0, 119, 255);
}

/* scoreboard*/

.scoreboard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 20rem;
  font-size: 1.5rem;
  background-color: white;
  margin: 3rem auto;
  box-shadow: 0px 0px 8px #888888;
  border-radius: 0.5rem;
  font-weight: bold;
}

.score {
  width: 100%;
  text-align: center;
  padding: 1rem 0rem;
}

.x-score {
  color: rgb(255, 70, 37);
  border-bottom: 5px solid rgb(255, 70, 37);
  border-radius: 0.5rem 0rem 0rem 0.5rem;
}

.o-score {
  color: rgb(44, 135, 255);
  border-bottom: 5px solid rgb(44, 135, 255);
  border-radius: 0rem 0.5rem 0.5rem 0rem;
}

.inactive {
  border-bottom: 5px solid transparent;
}

.login-page {
  background-image: url('https://t3.ftcdn.net/jpg/02/85/90/44/360_F_285904463_52tKiXp592qUhmg24eS3f4k1kGQSji3f.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 20px;
}
.form-div{
  background-image: url('https://t3.ftcdn.net/jpg/02/85/90/44/360_F_285904463_52tKiXp592qUhmg24eS3f4k1kGQSji3f.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 20px;
}

.form-group{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);

}
.input-field {
  border-radius: 15px;
  padding: 5px;
}
.form-group2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 5px;
  border-radius: 20px;
  /* background-color: rgb(19, 159, 252); */
  margin-top: 20px;
}

#password{
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 200px;
  text-align: center;
  border: none;
  outline: none;
}

#email{
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 200px;
  text-align: center;
  border: none;
  outline: none;
}

#login-btn{
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 200px;
  text-align: center;
  border: none;
  outline: none;
  font-size:larger;
}

#signup-btn{
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 200px;
  text-align: center;
  border: none;
  outline: none;
  font-size:larger;
}

#login-btn:hover{
  background-color: rgb(0, 255, 68);
  color: white;
  padding: 1p0x;
  border-radius: 10px;
  width: 200px;
  text-align: center;
}


#signup-btn:hover{
  background-color: rgb(0, 255, 68);
  color: white;
  padding: 1p0x;
  border-radius: 10px;
  width: 200px;
  text-align: center;
}
